
.welcome-title {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 1.5rem 0;
  align-content: center;
}

.welcome-header {
  display: flex;
  justify-content: center;
  width: 100%;
}