@tailwind base;
@tailwind components;
@tailwind utilities;

/* Estilos base para toda la aplicación */
body {
  margin: 0;
  background-color: #15202B;
  color: white;
}

#root {
  min-height: 100vh;
  background-color: #15202B;
}

/* Elimina cualquier otro CSS que puedas tener en este archivo */
